@import "../variables.module.scss";

.skillItem {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0.25rem 0;
  border-top: 1px solid $primary-trans;
  border-bottom: 1px solid $primary-trans;
  padding: 0.25rem 0;

  & input[type="text"] {
    max-width: 10rem;
    background-color: white;
    border: none;
    outline: none;
    padding: 0.125rem 0.25rem;
    border-radius: 0.25rem;
    font-size: 1rem;
  }

  & input[type="checkbox"] {
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 0.25rem;
    outline: none;
    border: none;
    background-color: white;
    transition: background-color 250ms;
    margin: 0 0.25rem;

    &:checked {
      background-color: $light;

      &::after {
        content: "â¦";
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: $primary;
        font-weight: bold;
        font-size: 2rem;
        margin-top: -2px;
      }
    }
  }

  &>div {
    display: flex;
    align-items: flex-start;
  }

  & button {
    height: 1.5rem;
    width: 1.5rem;
    background-color: $primary;
    color: $light;
    outline: none;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-left: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:active {
      background-color: rgba($primary, 0.75);
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

.itemText {
  flex: 1;
}